*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   scroll-behavior: smooth;
}
body{
    height: 400vh;
    background-image: linear-gradient(white, gold);

}
.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

.navbar{
    height: 111px;
    background-image: linear-gradient( to right, grey, black);
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-anchors{
    display: inline;
    
    
   
    
    margin-right: 1px;
}
.nav-anchors a{
    color: aliceblue;
    text-decoration: none;
    margin:5px;
    font-size: 1.5rem;
}
.nav-anchors a:hover{
    color: black;
    background-color: aliceblue;
    font-size: 2rem;
}




i{
    width: 20px;
    height: 20px;
}
.search-bar{
  display: flex;
    justify-content: space-evenly;
    background-color: rgb(182, 61, 24);
    
    width: 620px;
    height: 40px;
    border-radius: 3px;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem ;
    color:#f1f1f1;
    background-image: url(navbar.jpg);
}
.search-input{
     width: 100%;
     font-size: 1rem;
     border: none;
    background-image: url(image.png);
     color: #f3f3f3;
}
.search-select{
    background-image: url(navbar.jpg);

    width: 50px;
    text-align: center;
    border-top-left-radius: 7 px;
    border-bottom-left-radius: 7 px;
    border: none;
    color:#f3f3f3
}
input::placeholder{
    color:white;
    font-weight: 800;
    background-color: rgba(0,0,0,0.5);
    
}